In [2]:
import pandas as pd
import numpy as np
import os

In [28]:
big = pd.DataFrame([])
for country in os.listdir('team-stats/team-stats/')[1:]:
    new = pd.read_csv('team-stats/team-stats/'+country)
    new['fifa_team'] = country[:-4]
    big = big.append(new)

In [29]:
big = big[big['Overall'].notna()]
big = big[big['Release Clause'].notna()]

In [23]:
big.columns

Index(['Unnamed: 0', 'No.', 'Position_x', 'Player', 'DOB', 'Current age',
       'Caps', 'Goals', 'Club_x', 'string_index_x', 'matches', 'ID', 'Name',
       'Age', 'Nationality', 'Overall', 'Potential', 'Club_y', 'Value', 'Wage',
       'Special', 'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position_y',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Best Overall Rating', 'Release Clause',
       'DefensiveAwareness', 'string_index_y', 'fifa_team'],
      dtype='object')

In [30]:
df = big

In [31]:
def money_string_to_num(i):
    return float(str(i)[1:-1])/1000 if str(i)[-1]=='K' else float(str(i)[1:-1])

In [32]:
df['Release Clause'] = df['Release Clause'].apply(money_string_to_num)

In [33]:
df

,Unnamed: 0,No.,Position_x,Player,DOB,Current age,Caps,Goals,Club_x,string_index_x,...,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness,string_index_y,fifa_team
9,9,-,DF,Amin,1991-10-12,29,20.0,2,SV Meppen,Amin SV Meppen,...,7.0,7.0,12.0,14.0,LB,68.0,1.100,64.0,Amin SV Meppen,afghanistan
23,23,17,FW,Haydary,1998-01-13,23,10.0,1,Lechia Gdańsk,Haydary Lechia Gdańsk,...,6.0,10.0,10.0,7.0,RM,65.0,0.969,35.0,Haydary Lechia Gdańsk,afghanistan
1,1,23,GK,Strakosha,1995-03-19,26,16.0,0,Lazio,Strakosha Lazio,...,79.0,75.0,81.0,88.0,GK,83.0,45.300,20.0,Strakosha Lazio,albania
4,4,6,DF,Djimsiti,1993-02-19,28,43.0,1,Atalanta,Djimsiti Atalanta,...,6.0,13.0,10.0,10.0,CB,78.0,14.200,80.0,Djimsiti Atalanta,albania
7,7,15,DF,Kumbulla,2000-02-08,21,9.0,0,Roma,Kumbulla Roma,...,8.0,15.0,14.0,7.0,CB,77.0,23.000,77.0,Kumbulla Roma,albania
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,6,NaN,DF,Galloway,1996-03-17,25,0.0,0,Luton Town,Galloway Luton Town,...,14.0,9.0,8.0,8.0,LB,65.0,1.300,62.0,Galloway Luton Town,zimbabwe
16,16,NaN,MF,Billiat,1990-08-19,31,46.0,17,Kaizer Chiefs,Billiat Kaizer Chiefs,...,8.0,8.0,10.0,7.0,RW,75.0,14.300,38.0,Billiat Kaizer Chiefs,zimbabwe
21,21,NaN,MF,Munetsi,1996-06-22,25,20.0,1,Stade Reims,Munetsi Stade Reims,...,10.0,7.0,8.0,11.0,CDM,70.0,2.900,66.0,Munetsi Stade de Reims,zimbabwe
24,24,NaN,MF,Nakamba,1994-01-19,27,23.0,0,Aston Villa,Nakamba Aston Villa,...,15.0,10.0,15.0,8.0,CDM,76.0,14.800,76.0,Nakamba Aston Villa,zimbabwe
31,31,NaN,FW,Moyo,1994-12-17,26,3.0,0,Hamilton Academical,Moyo Hamilton Academical,...,6.0,10.0,15.0,12.0,ST,62.0,0.502,18.0,Moyo Hamilton Academical FC,zimbabwe

In [34]:
intermediate = pd.concat([df.groupby('fifa_team').median(),df.groupby('fifa_team').size()],axis=1)

In [35]:
intermediate

,Unnamed: 0,Caps,Goals,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Overall Rating,Release Clause,DefensiveAwareness,0
fifa_team,,,,,,,,,,,,,,,,,,,,,
afghanistan,16.0,15.0,1.5,243927.5,25.0,66.0,69.5,1650.0,1.0,3.0,...,49.0,13.0,6.5,8.5,11.0,10.5,66.5,1.0345,49.5,2
albania,10.0,10.5,0.0,236083.5,23.0,69.5,76.5,1705.0,1.0,3.0,...,62.0,9.5,9.5,11.5,11.0,9.0,71.5,3.0000,66.5,8
algeria,11.0,6.5,0.5,231644.5,22.5,73.5,77.5,1844.5,1.0,3.0,...,64.0,8.5,10.0,13.0,10.5,10.0,75.0,10.1500,57.0,10
angola,6.0,8.0,0.0,221994.0,25.0,75.0,78.0,1983.0,1.0,2.0,...,70.0,8.0,7.0,15.0,7.0,8.0,76.0,11.8000,72.0,1
antigua-and-barbuda,3.0,2.0,0.0,213569.0,29.0,63.0,63.0,1641.0,1.0,3.0,...,57.0,9.0,11.0,12.0,8.0,9.0,63.0,0.5250,56.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
united-states,3.0,27.5,1.5,218674.5,26.5,75.0,78.0,1432.0,1.5,2.5,...,43.0,41.0,39.0,38.0,44.0,42.5,76.0,11.5000,43.0,2
uruguay,16.0,25.0,1.5,231815.0,24.0,78.5,82.0,1922.5,1.0,3.0,...,63.5,8.5,10.5,12.0,10.0,11.0,81.0,21.9000,64.0,16
venezuela,16.5,26.0,1.0,233694.0,25.0,69.5,74.0,1676.5,1.0,3.0,...,59.5,10.5,8.5,12.5,9.5,12.0,71.0,2.7500,63.0,10
wales,10.0,18.0,0.0,228815.0,22.0,72.0,81.0,1781.0,1.0,3.0,...,48.0,10.0,10.0,13.0,8.0,12.0,74.0,6.8000,50.0,5
zimbabwe,21.0,20.0,0.0,218154.0,25.0,69.0,75.0,1698.0,1.0,3.0,...,64.0,9.0,10.0,9.0,10.0,8.0,70.0,2.9000,62.0,5

In [38]:
# agg = intermediate[['Overall','Release Clause',0]].loc[intermediate[['Overall','Release Clause',0]][0] > 10]
agg = intermediate[['Overall', 'Release Clause']]

In [84]:
# # df.head()

# df = df[['Nationality', 'Overall']]

# agg = df.groupby('Nationality').mean()

# current = list(df['Nationality'])

# countries = pd.read_csv('WorldCupMatches.csv')['Home Team Name'].unique()

# countries = pd.read_csv('international-football-results-from-1872-to-2017/results.csv')['home_team'].unique()

# [c for c in countries if c not in current]

In [39]:
agg

                     Overall  Release Clause
fifa_team
afghanistan             66.0          1.0345
albania                 69.5          3.0000
algeria                 73.5         10.1500
angola                  75.0         11.8000
antigua-and-barbuda     63.0          0.5250
...                      ...             ...
united-states           75.0         11.5000
uruguay                 78.5         21.9000
venezuela               69.5          2.7500
wales                   72.0          6.8000
zimbabwe                69.0          2.9000

[104 rows x 2 columns]

In [56]:
regions = pd.read_csv('all-teams.csv')[['Country','Region']]
regions['Country']=regions['Country'].str.lower()
regions.Region = regions['Region'].str.replace('UFA','UEFA')

In [64]:
j = agg.merge(regions,how='left',left_on='fifa_team',right_on='Country')

In [65]:
j

     Overall  Release Clause      Country    Region
0       66.0          1.0345  afghanistan       AFC
1       69.5          3.0000      albania      UEFA
2       73.5         10.1500      algeria       CAF
3       75.0         11.8000       angola       CAF
4       63.0          0.5250          NaN       NaN
..       ...             ...          ...       ...
99      75.0         11.5000          NaN       NaN
100     78.5         21.9000      uruguay  CONMEBOL
101     69.5          2.7500    venezuela  CONMEBOL
102     72.0          6.8000        wales      UEFA
103     69.0          2.9000     zimbabwe       CAF

[104 rows x 4 columns]

In [66]:
j.to_csv('country_aggs_detail.csv')

In [67]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(np.array(j['Release Clause']).reshape(-1, 1))

j['Release Clause'] = scaler.transform(np.array(j['Release Clause']).reshape(-1, 1))

scaler = StandardScaler()
scaler.fit(np.array(j['Overall']).reshape(-1, 1))

j['Overall'] = scaler.transform(np.array(j['Overall']).reshape(-1, 1))

In [68]:
j['value'] = j['Overall']+j['Release Clause']

In [69]:
j

      Overall  Release Clause      Country    Region     value
0   -0.875092       -0.686045  afghanistan       AFC -1.561137
1   -0.189336       -0.483595      albania      UEFA -0.672932
2    0.594385        0.252867      algeria       CAF  0.847251
3    0.888280        0.422819       angola       CAF  1.311099
4   -1.462883       -0.738524          NaN       NaN -2.201408
..        ...             ...          ...       ...       ...
99   0.888280        0.391919          NaN       NaN  1.280199
100  1.574036        1.463136      uruguay  CONMEBOL  3.037172
101 -0.189336       -0.509346    venezuela  CONMEBOL -0.698682
102  0.300489       -0.092189        wales      UEFA  0.208300
103 -0.287302       -0.493895     zimbabwe       CAF -0.781197

[104 rows x 5 columns]

In [70]:
j = j.rename(columns={'Country':'country', 'Region':'region', 'value':'value', 0:'count'})
j = j[['country','region','value']]

In [71]:
j

         country    region     value
0    afghanistan       AFC -1.561137
1        albania      UEFA -0.672932
2        algeria       CAF  0.847251
3         angola       CAF  1.311099
4            NaN       NaN -2.201408
..           ...       ...       ...
99           NaN       NaN  1.280199
100      uruguay  CONMEBOL  3.037172
101    venezuela  CONMEBOL -0.698682
102        wales      UEFA  0.208300
103     zimbabwe       CAF -0.781197

[104 rows x 3 columns]

In [72]:
j.dropna().to_csv('countries_joined_fifa_agg.csv',index=False)

In [55]:
j.sort_values('value',ascending=False)['country'][0:32]

91           spain
79        portugal
17          brazil
44         germany
37         england
68     netherlands
28         croatia
5        argentina
100        uruguay
54          israel
55           italy
65      montenegro
12         belgium
51         hungary
64          mexico
94     switzerland
86          serbia
67         morocco
70       nicaragua
3           angola
99             NaN
25        colombia
32         denmark
9          austria
95         tunisia
83          russia
6          armenia
96          turkey
97         ukraine
76        paraguay
2          algeria
23           chile
Name: country, dtype: object

In [123]:
agg[agg[0]<66.3]

                        Overall   0
Nationality
Albania               66.547619  42
Algeria               71.625000  48
Angola                68.333333  18
Benin                 67.357143  14
Bolivia               63.125000  64
Bulgaria              64.711864  59
Burkina Faso          66.739130  23
Cape Verde            69.791667  24
Congo                 65.777778  18
Costa Rica            68.062500  32
Curacao               65.800000  20
DR Congo              67.136364  66
Egypt                 71.352941  34
Finland               65.360656  61
Gabon                 69.000000  17
Gambia                65.440000  25
Georgia               68.333333  24
Guinea                67.870968  31
Guinea Bissau         66.200000  20
Haiti                 64.727273  11
Honduras              68.086957  23
Hungary               67.500000  44
Iceland               66.886792  53
India                 59.111111  36
Iran                  70.500000  20
Israel                69.153846  26
Jamaica               66.181818  33
Kosovo                65.673469  49
Mali                  68.060606  66
Montenegro            68.727273  22
New Zealand           63.294118  34
North Macedonia       67.727273  22
Panama                68.000000  14
Slovakia              69.709091  55
Slovenia              68.578947  57
South Africa          67.890909  55
Togo                  68.882353  17
Tunisia               67.441176  34
United Arab Emirates  65.111111  18
Zambia                66.636364  11
Zimbabwe              68.428571  14

In [127]:
j

      country    region      value
0     Albania       UFA  66.547619
1     Algeria       CAF  71.625000
2      Angola       CAF  68.333333
3   Argentina  CONMEBOL  69.613990
4   Australia       AFC  63.055172
..        ...       ...        ...
86    Uruguay  CONMEBOL  68.155763
87  Venezuela  CONMEBOL  63.886076
88      Wales       UFA  63.280576
89     Zambia       CAF  66.636364
90   Zimbabwe       CAF  68.428571

[91 rows x 3 columns]

In [134]:
j['region'] = j.region.str.replace('UFA', 'UEFA')

In [136]:
j.to_csv('agg_countries.csv')