In [1]:
import pandas as pd
import numpy as np
import os

In [26]:
big = pd.DataFrame([])
for country in os.listdir('team-stats-new/team-stats/')[1:]:
    print(country)
    new = pd.read_csv('team-stats-new/team-stats/'+country)
    new['fifa_team'] = country[:-4]
    big = big.append(new)

afghanistan.csv
albania.csv
algeria.csv
american-samoa.csv
andorra.csv
angola.csv
anguilla.csv
antigua-and-barbuda.csv
argentina.csv
armenia.csv
aruba.csv
australia.csv
austria.csv
azerbaijan.csv
bahamas.csv
bahrain.csv
bangladesh.csv
barbados.csv
belarus.csv
belgium.csv
belize.csv
benin.csv
bermuda.csv
bhutan.csv
bolivia.csv
bosnia-and-herzegovina.csv
botswana.csv
brazil.csv
british-virgin-islands.csv
brunei.csv
bulgaria.csv
burkina-faso.csv
burundi.csv
cambodia.csv
cameroon.csv
canada.csv
cape-verde.csv
cayman-islands.csv
central-african-republic.csv
chad.csv
chile.csv
china-pr.csv
chinese-taipei.csv
colombia.csv
comoros.csv
congo.csv
costa-rica.csv
croatia.csv
cuba.csv
curaçao.csv
cyprus.csv
czech-republic.csv
denmark.csv
djibouti.csv
dominica.csv
dominican-republic.csv
dr-congo.csv
ecuador.csv
egypt.csv
el-salvador.csv
england.csv
equatorial-guinea.csv
eritrea.csv
estonia.csv
eswatini.csv
ethiopia.csv
faroe-islands.csv
fiji.csv
finland.csv
france.csv
gabon.csv
gambia.csv
georgia.csv
germany.csv
ghana.csv
gibraltar.csv
greece.csv
grenada.csv
guam.csv
guatemala.csv
guinea-bissau.csv
guinea.csv
guyana.csv
haiti.csv
honduras.csv
hong-kong.csv
hungary.csv
iceland.csv
india.csv
iran.csv
iraq.csv
israel.csv
italy.csv
ivory-coast.csv
jamaica.csv
japan.csv
jordan.csv
kazakhstan.csv
kenya.csv
kosovo.csv
kuwait.csv
kyrgyzstan.csv
laos.csv
latvia.csv
lebanon.csv
lesotho.csv
liberia.csv
libya.csv
liechtenstein.csv
lithuania.csv
luxembourg.csv
macau.csv
madagascar.csv
malawi.csv
malaysia.csv
maldives.csv
mali.csv
malta.csv
mauritania.csv
mauritius.csv
mexico.csv
moldova.csv
mongolia.csv
montenegro.csv
montserrat.csv
morocco.csv
mozambique.csv
myanmar.csv
namibia.csv
nepal.csv
netherlands.csv
new-caledonia.csv
new-zealand.csv
nicaragua.csv
niger.csv
north-korea.csv
north-macedonia.csv
northern-ireland.csv
norway.csv
oman.csv
pakistan.csv
palestine.csv
panama.csv
papua-new-guinea.csv
paraguay.csv
peru.csv
philippines.csv
poland.csv
portugal.csv
puerto-rico.csv
qatar.csv
republic-of-ireland.csv
romania.csv
russia.csv
rwanda.csv
saint-kitts-and-nevis.csv
saint-lucia.csv
saint-vincent-and-the-grenadines.csv
san-marino.csv
saudi-arabia.csv
scotland.csv
senegal.csv
serbia.csv
sierra-leone.csv
singapore.csv
slovakia.csv
slovenia.csv
solomon-islands.csv
somalia.csv
south-africa.csv
south-korea.csv
south-sudan.csv
spain.csv
sudan.csv
suriname.csv
sweden.csv
switzerland.csv
syria.csv
são-tomé-and-príncipe.csv
tahiti.csv
tajikistan.csv
tanzania.csv
thailand.csv
timor-leste.csv
togo.csv
tonga.csv
trinidad-and-tobago.csv
tunisia.csv
turkey.csv
turkmenistan.csv
turks-and-caicos-islands.csv
u.s.-virgin-islands.csv
uganda.csv
ukraine.csv
united-arab-emirates.csv
united-states.csv
uruguay.csv
uzbekistan.csv
vanuatu.csv
venezuela.csv
vietnam.csv
wales.csv
yemen.csv
zambia.csv
zimbabwe.csv

In [27]:
big = big[big['Overall'].notna()]
big = big[big['Release Clause'].notna()]

In [28]:
big.columns

Index(['Unnamed: 0', 'No.', 'Position_x', 'Player', 'DOB', 'Current age',
       'Caps', 'Goals', 'Club_x', 'string_index_x', 'matches', 'ID', 'Name',
       'Age', 'Nationality', 'Overall', 'Potential', 'Club_y', 'Value', 'Wage',
       'Special', 'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position_y',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Best Position', 'Best Overall Rating', 'Release Clause',
       'DefensiveAwareness', 'string_index_y', 'fifa_team'],
      dtype='object')

In [29]:
df = big

In [30]:
def money_string_to_num(i):
    return float(str(i)[1:-1])/1000 if str(i)[-1]=='K' else float(str(i)[1:-1])

In [31]:
df['Release Clause'] = df['Release Clause'].apply(money_string_to_num)

In [58]:
df[df['fifa_team']=='new-zealand']

,Unnamed: 0,No.,Position_x,Player,DOB,Current age,Caps,Goals,Club_x,string_index_x,...,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness,string_index_y,fifa_team
2,2,NaN,DF,Smith,1990-03-31,31,38.0,2.0,Colchester United,Smith Colchester United,...,16.0,9.0,15.0,10.0,CB,66.0,0.919,64.0,Smith Colchester United,new-zealand
3,3,NaN,DF,Boxall,1988-08-18,33,33.0,0.0,Minnesota United,Boxall Minnesota United,...,9.0,14.0,7.0,8.0,CB,68.0,1.000,64.0,Boxall Minnesota United FC,new-zealand
4,4,NaN,DF,Tuiloma,1995-03-27,26,26.0,0.0,Portland Timbers,Tuiloma Portland Timbers,...,12.0,16.0,8.0,14.0,CB,68.0,1.200,67.0,Tuiloma Portland Timbers,new-zealand
12,12,NaN,MF,Rojas,1991-11-05,29,42.0,5.0,Melbourne Victory,Rojas Melbourne Victory,...,8.0,7.0,9.0,12.0,RM,70.0,2.300,49.0,Rojas Melbourne Victory,new-zealand
13,13,NaN,MF,Thomas,1994-12-20,26,19.0,3.0,PSV,Thomas PSV,...,12.0,6.0,8.0,9.0,CAM,77.0,11.800,62.0,Thomas PSV,new-zealand
17,17,NaN,MF,Bell,1999-04-27,22,2.0,0.0,Viking,Bell Viking,...,10.0,5.0,8.0,6.0,CM,67.0,1.300,63.0,Bell Viking FK,new-zealand
18,18,NaN,FW,Wood,1991-12-07,29,57.0,24.0,Burnley,Wood Burnley,...,16.0,16.0,7.0,16.0,ST,78.0,20.000,39.0,Wood Burnley,new-zealand
20,20,NaN,FW,Collier,1995-02-22,26,2.0,0.0,Chicago Fire,Collier Chicago Fire,...,8.0,7.0,12.0,13.0,ST,63.0,0.512,43.0,Collier Chicago Fire,new-zealand

In [34]:
intermediate = pd.concat([df.groupby('fifa_team').median(),df.groupby('fifa_team').size()],axis=1)

In [35]:
intermediate

,Unnamed: 0,Caps,Goals,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Overall Rating,Release Clause,DefensiveAwareness,0
fifa_team,,,,,,,,,,,,,,,,,,,,,
afghanistan,16.0,15.0,1.5,243927.5,25.0,66.0,69.5,1650.0,1.0,3.0,...,49.0,13.0,6.5,8.5,11.0,10.5,66.5,1.0345,49.5,2
albania,9.0,12.0,0.0,237184.0,22.0,69.0,78.0,1630.0,1.0,3.0,...,62.0,10.0,9.0,12.0,11.0,9.0,71.0,2.6000,66.0,7
algeria,11.0,6.5,0.5,231644.5,22.5,73.5,77.5,1844.5,1.0,3.0,...,64.0,8.5,10.0,13.0,10.5,10.0,75.0,10.1500,57.0,10
angola,6.0,8.0,0.0,221994.0,25.0,75.0,78.0,1983.0,1.0,2.0,...,70.0,8.0,7.0,15.0,7.0,8.0,76.0,11.8000,72.0,1
antigua-and-barbuda,3.0,2.0,0.0,213569.0,29.0,63.0,63.0,1641.0,1.0,3.0,...,57.0,9.0,11.0,12.0,8.0,9.0,63.0,0.5250,56.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
united-states,3.0,27.5,1.5,218674.5,26.5,75.0,78.0,1432.0,1.5,2.5,...,43.0,41.0,39.0,38.0,44.0,42.5,76.0,11.5000,43.0,2
uruguay,17.5,30.0,2.5,230300.5,24.5,79.5,84.0,1922.5,1.0,3.0,...,63.5,8.5,10.5,13.0,10.0,12.5,81.0,23.7500,64.0,16
venezuela,15.0,30.0,1.0,233694.0,25.5,69.5,74.0,1676.5,1.0,3.0,...,59.5,10.5,8.5,12.0,8.5,12.0,71.0,2.7500,63.0,10
wales,8.0,21.5,0.0,218406.5,24.5,72.5,78.0,1729.0,1.0,3.0,...,59.5,10.5,9.5,12.5,8.5,12.5,74.0,7.9500,56.5,6
zimbabwe,21.0,20.0,0.0,218154.0,25.0,69.0,75.0,1698.0,1.0,3.0,...,64.0,9.0,10.0,9.0,10.0,8.0,70.0,2.9000,62.0,5

In [36]:
# agg = intermediate[['Overall','Release Clause',0]].loc[intermediate[['Overall','Release Clause',0]][0] > 10]
agg = intermediate[['Overall', 'Release Clause']]

In [84]:
# # df.head()

# df = df[['Nationality', 'Overall']]

# agg = df.groupby('Nationality').mean()

# current = list(df['Nationality'])

# countries = pd.read_csv('WorldCupMatches.csv')['Home Team Name'].unique()

# countries = pd.read_csv('international-football-results-from-1872-to-2017/results.csv')['home_team'].unique()

# [c for c in countries if c not in current]

In [43]:
agg

                     Overall  Release Clause
fifa_team
afghanistan             66.0          1.0345
albania                 69.0          2.6000
algeria                 73.5         10.1500
angola                  75.0         11.8000
antigua-and-barbuda     63.0          0.5250
...                      ...             ...
united-states           75.0         11.5000
uruguay                 79.5         23.7500
venezuela               69.5          2.7500
wales                   72.5          7.9500
zimbabwe                69.0          2.9000

[120 rows x 2 columns]

In [62]:
regions = pd.read_csv('all-teams.csv')[['Country','Region']]
regions['Country']=regions['Country'].str.lower()
regions.Region = regions['Region'].str.replace('UFA','UEFA')
regions.Country = regions.Country.str.replace(' ','-')

In [63]:
regions

           Country Region
0             iran    AFC
1            japan    AFC
2      south-korea    AFC
3        australia    AFC
4            qatar    AFC
..             ...    ...
206          malta   UEFA
207        moldova   UEFA
208  liechtenstein   UEFA
209      gibraltar   UEFA
210     san-marino   UEFA

[211 rows x 2 columns]

In [66]:
j = agg.merge(regions,how='left',left_on='fifa_team',right_on='Country')

In [67]:
j

     Overall  Release Clause              Country    Region
0       66.0          1.0345          afghanistan       AFC
1       69.0          2.6000              albania      UEFA
2       73.5         10.1500              algeria       CAF
3       75.0         11.8000               angola       CAF
4       63.0          0.5250  antigua-and-barbuda  CONCACAF
..       ...             ...                  ...       ...
115     75.0         11.5000        united-states  CONCACAF
116     79.5         23.7500              uruguay  CONMEBOL
117     69.5          2.7500            venezuela  CONMEBOL
118     72.5          7.9500                wales      UEFA
119     69.0          2.9000             zimbabwe       CAF

[120 rows x 4 columns]

In [68]:
j[j.Region=='OFC']

    Overall  Release Clause           Country Region
82     67.0            1.25       new-zealand    OFC
87     64.0            1.50  papua-new-guinea    OFC

In [70]:
j.to_csv('fuller_countries.csv',index=False)

In [67]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(np.array(j['Release Clause']).reshape(-1, 1))

j['Release Clause'] = scaler.transform(np.array(j['Release Clause']).reshape(-1, 1))

scaler = StandardScaler()
scaler.fit(np.array(j['Overall']).reshape(-1, 1))

j['Overall'] = scaler.transform(np.array(j['Overall']).reshape(-1, 1))

In [68]:
j['value'] = j['Overall']+j['Release Clause']

In [69]:
j

      Overall  Release Clause      Country    Region     value
0   -0.875092       -0.686045  afghanistan       AFC -1.561137
1   -0.189336       -0.483595      albania      UEFA -0.672932
2    0.594385        0.252867      algeria       CAF  0.847251
3    0.888280        0.422819       angola       CAF  1.311099
4   -1.462883       -0.738524          NaN       NaN -2.201408
..        ...             ...          ...       ...       ...
99   0.888280        0.391919          NaN       NaN  1.280199
100  1.574036        1.463136      uruguay  CONMEBOL  3.037172
101 -0.189336       -0.509346    venezuela  CONMEBOL -0.698682
102  0.300489       -0.092189        wales      UEFA  0.208300
103 -0.287302       -0.493895     zimbabwe       CAF -0.781197

[104 rows x 5 columns]

In [70]:
j = j.rename(columns={'Country':'country', 'Region':'region', 'value':'value', 0:'count'})
j = j[['country','region','value']]

In [71]:
j

         country    region     value
0    afghanistan       AFC -1.561137
1        albania      UEFA -0.672932
2        algeria       CAF  0.847251
3         angola       CAF  1.311099
4            NaN       NaN -2.201408
..           ...       ...       ...
99           NaN       NaN  1.280199
100      uruguay  CONMEBOL  3.037172
101    venezuela  CONMEBOL -0.698682
102        wales      UEFA  0.208300
103     zimbabwe       CAF -0.781197

[104 rows x 3 columns]

In [72]:
j.dropna().to_csv('countries_joined_fifa_agg.csv',index=False)

In [55]:
j.sort_values('value',ascending=False)['country'][0:32]

91           spain
79        portugal
17          brazil
44         germany
37         england
68     netherlands
28         croatia
5        argentina
100        uruguay
54          israel
55           italy
65      montenegro
12         belgium
51         hungary
64          mexico
94     switzerland
86          serbia
67         morocco
70       nicaragua
3           angola
99             NaN
25        colombia
32         denmark
9          austria
95         tunisia
83          russia
6          armenia
96          turkey
97         ukraine
76        paraguay
2          algeria
23           chile
Name: country, dtype: object

In [123]:
agg[agg[0]<66.3]

                        Overall   0
Nationality
Albania               66.547619  42
Algeria               71.625000  48
Angola                68.333333  18
Benin                 67.357143  14
Bolivia               63.125000  64
Bulgaria              64.711864  59
Burkina Faso          66.739130  23
Cape Verde            69.791667  24
Congo                 65.777778  18
Costa Rica            68.062500  32
Curacao               65.800000  20
DR Congo              67.136364  66
Egypt                 71.352941  34
Finland               65.360656  61
Gabon                 69.000000  17
Gambia                65.440000  25
Georgia               68.333333  24
Guinea                67.870968  31
Guinea Bissau         66.200000  20
Haiti                 64.727273  11
Honduras              68.086957  23
Hungary               67.500000  44
Iceland               66.886792  53
India                 59.111111  36
Iran                  70.500000  20
Israel                69.153846  26
Jamaica               66.181818  33
Kosovo                65.673469  49
Mali                  68.060606  66
Montenegro            68.727273  22
New Zealand           63.294118  34
North Macedonia       67.727273  22
Panama                68.000000  14
Slovakia              69.709091  55
Slovenia              68.578947  57
South Africa          67.890909  55
Togo                  68.882353  17
Tunisia               67.441176  34
United Arab Emirates  65.111111  18
Zambia                66.636364  11
Zimbabwe              68.428571  14

In [127]:
j

      country    region      value
0     Albania       UFA  66.547619
1     Algeria       CAF  71.625000
2      Angola       CAF  68.333333
3   Argentina  CONMEBOL  69.613990
4   Australia       AFC  63.055172
..        ...       ...        ...
86    Uruguay  CONMEBOL  68.155763
87  Venezuela  CONMEBOL  63.886076
88      Wales       UFA  63.280576
89     Zambia       CAF  66.636364
90   Zimbabwe       CAF  68.428571

[91 rows x 3 columns]

In [134]:
j['region'] = j.region.str.replace('UFA', 'UEFA')

In [136]:
j.to_csv('agg_countries.csv')